.poke-card {
  background-color: navajowhite;
  width: 300px;
  height: 700px;
  display: inline-block;
  margin: 2px;
}

.poke-name {
  font-size: 25px;
}

li {
  list-style: none;
  text-align: center;
  padding-right: 40px;
}

h5 {
  text-align: center;
}
